
@using AspNetCoreRoutingDemo.Models
@using System.Text.Encodings.Web;
@using System.Net;

@model Book

@section head {
  <title>Book Details - @Model.Title</title>
}

<h1>@Model.Title</h1>
<h3>@Model.Author</h3>
<h3>@Model.Number</h3>
<h3>@WebUtility.HtmlDecode(Model.Slug)</h3>

<br />

<a asp-action="Index">Index</a>